/* https://www.itakeyou.co.uk/dark-blue-grey-and-brown-coffee-colour-palette-41/ */

:root {
    --color-n1: #bd6f28;
    /* coffee color */
    --color-n2: #e9a362;
    /*iced coffee color */
    --color-n3: white;

    --color-n4: #4d3626;
    /* wood color */
}

:root {
    --font-n1: 'Montserrat', sans-serif;
    --font-n2: 'Lora', serif;
    --font-n3: 'Biryani', sans-serif;
}