@import 'colors_and_fonts.css';


h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

p {
    font-size: 25px;
    color: white;
    /* margin: 30%; */

    /* Change the font size to your desired size (e.g., 16px) */
}

.title {
    color: var(--color-n1);
    /* color: var(--color-n1); */

    /* Color #1*/
    font-family: var(--font-n1);
    /* Font #1*/
    margin: 30px;
    text-align: center;
    font-weight: bold;
}

.subtitle {
    color: var(--color-n2);
    /* Color #2*/
    font-family: var(--font-secondary);
    /* Font #2*/
    text-align: center;
    margin: 50px;
}

.content-text {
    color: var(--color-n3);
    /* Color #3*/
    font-family: var(--font-n3);
    margin: auto;
    text-align: center;
    padding: 20px;
    /* Font#3*/
}

a {
    text-align: center;
    color: var(--color-n3);
    font-size: 25px;
    text-decoration: none;
    width: 200px;
    padding-bottom: 10px;
    padding-top: 25px;

}

button {
    color: var(--color-n3);
    font-size: 25px;
    font-family: var(--font-n3);
}

footer {
    color: var(--color-n3);
    text-align: center;
    font-size: 25px;
    font-family: var(--font-n3);
}

input {
    font-size: 25px;
    font-family: var(--font-n3);
    color: var(--color-n1);
}