@import 'colors_and_fonts.css';


input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    /* Added border-radius for rounded corners */
    font-size: 25px;
    font-family: 'Biryani', sans-serif;
    color: var(--color-n1);
    /* Change the font size to your preference */
}

:root {
    --wave-1-color: var(--color-n1);
    /* --wave-2-color: var(--secondary-color); */
    --wave-2-color: var(--secondary-color);

}

header {
    background-color: var(--color-n1);
    text-align: center;
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 2;
    width: 100%;
}

nav {
    margin-top: -20px;
    background-color: var(--secondary-color);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 1;
}

ul {
    list-style-type: none;
    /* Remove bullet points from the list */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    /* Use flexbox to arrange the list horizontally */
}

li {
    background-color: var(--color-n1);
    border-radius: 20px;
    width: 200px;
}

li:hover {
    background-color: var(--color-n4);
}

a {
    display: block;
}


body {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

button {
    background-color: #bd6f28;
    /*Color #1*/
    /*Color #2*/
    border-radius: 20px;
    /* Adjust the radius as needed */
    border: none;
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

button:hover {
    background-color: var(--color-n4);
    /* Change the color on hover to the color #3*/
}


.parent-container {
    display: flex;
    flex-direction: column;
    /* Stack elements vertically */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    /* height: 100vh; */
    /* Ensure full viewport height */
}

.content-container {
    background-color: var(--color-n2);
    border-radius: 100px;
    padding: 20px;
    text-align: center;
    width: fit-content;
    margin: 20px;
    /* Add margin between the boxes */
}

#steps {
    width: 60%;
}

footer {
    background-color: var(--color-n1);
    padding: 20px;
    margin-top: -10px;
}

.z--10 {
    position: absolute;
}




.dropdown-content {
    display: none;
}

/* Change the display property to block when hovering over .dropdown-icon */
.dropdown-icon:hover+.dropdown-content {
    display: inline-block;
}

/* Style for the icon when hovered */
.dropdown-icon:hover {
    color: var(--dark-dusty-blue);
}

.wave-container {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    /* Adjust the height as needed */

}

footer {
    background-color: var(--color-n1);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#mug-image {
    border-radius: 20%;
}